<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  {% include seo.html %}
  {% feed_meta %}
  <link rel="dns-prefetch" href="//ssl.google-analytics.com/ga.js">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link href="{{ site.favicon }}" rel="apple-touch-icon" />
  <link href="{{ site.favicon }}" rel="icon" />

</head>
