<div class="col-xs-12 col-md-3 col-lg-2 sidebar-container">
  <div class="sidebar-content">

        {% for post in site.posts %}
                      <div class="post featured-sidebar col-xs-12">
          <div class="cover-banner post-card post-card-sq-2" style="background-image: url({{ post.cover_image }});">

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </div>
                  </div>

        {% endfor %}


        <div class="subscribe-sidebar">
          <h5>Subscribe to the latest gaming deals</h5>

          <form class="row">
            <input class="col-md-7" type="text" name="email" value="Enter an email address">
            <input class="col-md-5" type="submit" value="Submit">
          </form>
        </div>

  </div>
</div>
